<div>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large fixed-top">
          <a class="navbar-brand" href="/"><img src="http://localhost:5005/yogarogya_log.png" alt="" width="88px;"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link w3-medium mr-3" href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link w3-medium mr-3" href="/users/profile">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link w3-medium mr-3" href="/users/testimonials">Testimonials</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link w3-medium mr-3" href="/users/kyc">KYC</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link w3-medium mr-3"  href="/users/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
     <br>
    <br>
    <br>
    <br>