<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

    <title>Node.js & Passport Login App</title>

    <style>
          .wrapper {
            max-height:350px;
            border: 1px solid #ddd;
            display: flex;
            overflow:auto;
        }
        .wrapper::-webkit-scrollbar{
            width:0;
        } 
        .navbar-custom { 
    background-color: #f7605e; 
}
    
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: orangered;
    background-color: orangered;
    background-size: 60%, 60%;
    border-radius: 50%;
    border: 1px solid red;
      }

      [type=radio] { 
        position: relative;
        opacity: 10;
        width: 10;
        height: 10;
      }

      /* IMAGE STYLES */
      [type=radio] + img {
        cursor: pointer;
      }

      /* CHECKED STYLES */
      [type=radio]:checked + img {
        outline: 2px solid #f00;
      }

</style>



  </head>
  <body>
    
    {{{body}}}
  </body>
</html>