<!-----------Gender Tab from trial------>
<div class="tab">
    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>What is your gender?</b></p>
    <br>
    <div class="w3-container  w3-left-align w3-border-bottom">
        <input type="radio" id="male" class="gender" name="gender" value="male">
        <label class="w3-medium" for="male"><b style="font-family: 'Montserrat', sans-serif;">&nbsp;Male</b></label><br>
    </div>
    <br>
    <br>
    <div class="w3-container w3-left-align w3-border-bottom">
        <input type="radio" id="female" class="gender" name="gender" value="female">
        <label class="w3-medium" for="female"><b style="font-family: 'Montserrat', sans-serif;">&nbsp;Female</b></label><br>
    </div>
</div>