<div class="tab">
    <h3>Geolocation</h3>
   <input type="checkbox" class="mt-2" id="show" name="loc" onclick="getloc()"/>&nbsp;Give you location
   <div id="map" style="width:400px;height:400px; max-width:300px;border-radius:30px; display:none"></div>
   <br>
   <div id="building" style="display: none;">
          <label for="building"><b>Enter House No.</b></label>
          <input type="text" class="w3-border w3-border-black" style="width:300px;border-radius:20px;" 
          placeholder="Enter House No.">
   </div>
   <br>
</div>


  