<!----Mode Tab from trial------>
<div class="tab">
    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray" ><b>Select Between</b></p>
        <br>
        <div class="w3-container  w3-border-bottom  w3-left-align">  
            <input type="radio" class="method" id="online" name="method" value="online">
            <label class="w3-medium" for="online"><b>&nbsp;Online</b></label><br>
        </div>
        <br>
        <br>
        <div class="w3-container  w3-border-bottom w3-left-align">
            <input type="radio" class="method" id="person" name="method" value="person">
            <label class="w3-medium" for="person"><b>&nbsp;In person</b></label><br>
        </div>
</div>  