 <!--------------------5  Choose your partner---------> 
            <div class="tab">
                <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your partner</b></p>
                <br>
                <div class="w3-container  w3-left-align w3-border-bottom">
                    <input type="radio" id="single" name="partner" class="partner" value="single">
                      <label for='single'><b style="font-family: 'Montserrat', sans-serif;">&nbsp;Single</b></label>
                </div>
                <br>
                <br>
                <div class="w3-container w3-left-align w3-border-bottom">
                     <input type="radio" id="couple" name="partner" class="partner" value="couple">
                    <label for ='couple'><b style="font-family: 'Montserrat', sans-serif;">&nbsp;Couple</b></label>
                </div>
                <br>
                <br>
                <div class="w3-container w3-left-align w3-border-bottom">
                    <input type="radio" id="group" name="partner" class="partner" value="group">
                    <label for ='group'><b style="font-family: 'Montserrat', sans-serif;">&nbsp;Group</b></label>  
                </div>                  
              </div> 