 <!--------Program tab from trial--------->
 <div class="tab">
                     <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your program</b></p>
                    <br>
                      <div class="container">
                       <div class="row">
                          <div class="col-6 col-md-4">
                            <!-----------------------Weight Loss Card-------------------->
                            <div class="card mb-3">
                                <label>
                                  <input type="radio" name="program" class="program" value="weight loss" hidden>
                                  <img src="obesity.png" width="100%">
                                  <div class="card-body w3-medium">
                                    <b>Weight Loss Programme</b>
                                  </div>
                                </label>  
                            </div>
                          </div>
                          <div class="col-6 col-md-4">
                            <!-----------------------Diabetes Control Card-------------------->
                              <div class="card mb-3">
                                  <label>
                                    <input type="radio" name="program" class="program" value="diabetes control" hidden>
                                          <img src="diabetes.png" width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Diabetes Control Programme</b>
                                    </div>
                                  </label>  
                              </div>
                          </div>  
                          <div class="col-6 col-md-4">
                            <!-----------------------Immuntiy Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="immunity booster" hidden>
                                    <img src="immunity.png" width="100%">
                                    <div class="card-body w3-medium">
                                      <b>Immunity Booster Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>  
                          <div class="col-6 col-md-4">
                            <!-----------------------Spine Strengthen Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="spine strengthening" hidden>
                                    <img src="spine.png"  width="100%">
                                    <div class="card-body w3-medium">
                                         <b>Spine Strengthen Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>  
                          <div class="col-6 col-md-4">
                             <!-----------------------Pre Natal Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="pre natal" hidden>
                                    <img src="pre.png"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Pre Natal Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>
                           <div class="col-6 col-md-4">
                             <!-----------------------Post Natal Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="post natal" hidden>
                                    <img src="post.png"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Post Natal Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>  
                           <div class="col-6 col-md-4">
                             <!-----------------------Pink Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="pink" hidden>
                                    <img src="pink.png"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Pink Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div> 
                          <div class="col-6 col-md-4">
                            <!-----------------------Meditation Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="relaxation meditation" hidden>
                                    <img src="meditation.jpg"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Relaxation & Meditation Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div> 
                           <div class="col-6 col-md-4">
                            <!-----------------------Ask Trainer Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="ask trainer" hidden>
                                    <img src="trainer.png"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Ask the trainer</b>
                                    </div>
                                </label>    
                              </div>
                          </div> 
                        </div>     
                      </div> 
                </div>              
          <!--------------------5  Choose your partner---------> 
            <div class="tab">
                <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your partner</b></p>
                <br>
                <div class="w3-container  w3-left-align w3-border-bottom">
                    <input type="radio" id="single" name="partner" class="partner" value="single">
                      <label for='single'><b>&nbsp;Single</b></label>
                </div>
                <br>
                <br>
                <div class="w3-container w3-left-align w3-border-bottom">
                     <input type="radio" id="couple" name="partner" class="partner" value="couple">
                    <label for ='couple'><b>&nbsp;Couple</b></label>
                </div>
                <br>
                <br>
                <div class="w3-container w3-left-align w3-border-bottom">
                    <input type="radio" id="group" name="partner" class="partner" value="group">
                    <label for ='group'><b>&nbsp;Group</b></label>  
                </div>                  
              </div>                    
            <!----------------6 Time Slide ------------------------->
            <div class="tab">
              <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>How often do you want to workout?</b></p>
              <br>
              <div class="w3-container  w3-left-align w3-border-bottom">
                  <input type="radio" id="daily" class="time" name="time" value="daily">
                  <label class="w3-medium" for="daily"><b>&nbsp;Daily</b></label><br>
              </div>
              <br>
              <br>
              <div class="w3-container w3-left-align w3-border-bottom w3-panel">
                  <input type="radio" id="three" class="time" name="time" value="three">
                  <label class="w3-medium" for="three"><b>Three times a week</b></label><br>
              </div>
              <br>
              <div class="w3-container w3-left-align w3-border-bottom w3-panel">
                  <input type="radio" id="trainer" class="time" name="time" value="trainer">
                  <label class="w3-medium" for="trainer"><b>&nbsp;Ask your trainer</b></label><br>
              </div>
            </div>