 <!---------------------Registration Tab from trial----->
 <div class="tab">
    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Submit your info</b></p>
    <br>
    <div class="w3-container w3-border w3-border-dark-gray w3-round-large w3-padding-large w3-left-align m-2">
    <!--First Name---->
    <div class="form-group">
        <label for="fname" class="w3-small"><b>First Name:</b></label>
        <input  type="name" id="fname"  name="fname"  class="form-control" placeholder="Enter First Name"/>
    </div>
    <!---Last Name--->
    <div class="form-group">
        <label for="lname" class="w3-small"><b>Last Name:</b></label>
        <input  type="name" id="lname"  name="lname"  class="form-control" placeholder="Enter Last Name"/>
    </div>
    <!-----Email----------->
    <div class="form-group">
        <label for="email" class="w3-small"><b>Email:</b></label>
        <input  type="email" id="email"  name="email"  class="form-control" placeholder="Enter Email"/>
    </div>
    <!------Password--------->
    <div class="form-group">
        <label for="password" class="w3-small"><b>Password:</b></label>
        <input  type="password" id="password"  name="password"  class="form-control" placeholder="Enter Password"/>
    </div>
    <!----phone---->
    <div class="form-group">
        <label for="phone" class="w3-small"><b>Phone:</b></label>
        <input  type="text" id="phone"  name="phone"  class="form-control" placeholder="Enter Phone Number"/>
    </div>
    <br>
    </div>  
</div>