<!----------------6 Time Slide ------------------------->
            <div class="tab">
              <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>How often do you want to workout?</b></p>
              <br>
              <div class="w3-container  w3-left-align w3-border-bottom">
                  <input type="radio" id="daily" class="time" name="time" value="daily">
                  <label class="w3-medium" for="daily"><b>&nbsp;Daily</b></label><br>
              </div>
              <br>
              <br>
              <div class="w3-container w3-left-align w3-border-bottom w3-panel">
                  <input type="radio" id="three" class="time" name="time" value="three">
                  <label class="w3-medium" for="three"><b>Three times a week</b></label><br>
              </div>
              <br>
              <br>
              <div class="w3-container w3-left-align w3-border-bottom w3-panel">
                  <input type="radio" id="trainer" class="time" name="time" value="trainer">
                  <label class="w3-medium" for="trainer"><b>&nbsp;Ask your trainer</b></label><br>
              </div>
            </div>