<div>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large ">
        <a class="navbar-brand" href="/"><img src="http://localhost:5004/yogarogya_log.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link w3-medium mr-3 w3-text-white" href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link w3-medium mr-3 w3-text-white" href="/users/profile">Profile</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link w3-medium mr-3 w3-text-white" href="/users/testimonials">Testimonials</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link w3-medium mr-3 w3-text-white" href="/users/kyc">KYC</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link w3-medium mr-3  w3-text-white" href="/users/logout">Logout</a>
            </li>
        </ul>
        </div>
    </nav>
</div>

<!-------Multi-step form------------->
<form id="regForm" action="/book_package/pricing" method="POST">
<!---Tab for programs------>    
    <div class="tab">
        <h3 class="w3-center">Choose your programs</h3>
        <br>
        <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <!---Weight Loss Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="weight-loss" hidden>
                        <img src="obesity.png" width="100%">
                        <div class="card-body w3-medium">
                        <b>Weight Loss Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                 <!---Diabetes Control Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="diabetes control" hidden>
                        <img src="diabetes.png" width="100%">
                        <div class="card-body w3-medium">
                        <b>Diabetes Control Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                 <!---immmunity booster Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="immunity booster" hidden>
                        <img src="immunity.png" width="100%">
                        <div class="card-body w3-medium">
                        <b>Immunity Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                 <!---Spine Strenghthening Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="spine strengthening" hidden>
                        <img src="spine.png" width="100%">
                        <div class="card-body w3-medium">
                        <b>Spine Strengthen Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                 <!---Pink Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="pink" hidden>
                        <img src="pink.png" width="100%">
                        <div class="card-body w3-medium">
                        <b>Pink Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                 <!---Post Natal Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="post" hidden>
                        <img src="post.png" width="100%">
                        <div class="card-body w3-medium">
                        <b>Post Natal Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                 <!---Meditation Programme--->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="program" class="program" value="meditation" hidden>
                        <img src="meditation.jpg" width="100%">
                        <div class="card-body w3-medium">
                        <b>Meditation & Relaxation Programme</b>
                        </div>
                    </label>  
                </div>
            </div>
        </div>   
    </div>
</div>
<!--------------------------------Tab for online and in-person------------>
<div class="tab">
    <div class="container">
        <h3 class="w3-center">Choose Between</h3>
        <br>
        <div class="row">
            <div class="col-6">
                <!--------------Online---------------->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="method"  class="method" value="online" hidden>
                        <img src="online.png" width="100%"  style="max-height: 280px;">
                        <div class="card-body w3-medium">
                        <b>Online</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6">
                <!-------------------In-person----------->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="method"  class="method" value="in-person" hidden>
                        <img src="in_person.png" width="100%" style="max-height: 260px;">
                        <div class="card-body w3-medium">
                        <b>In-person</b>
                        </div>
                    </label>  
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------If in-person is chosen------------------->
<!------Tab for peak & non-peak hours-------------->
<div class="tab">
    <div class="container">
        <h3 class="w3-center">Choose Between</h3>
        <br>
        <div class="row">
            <div class="col-6">
                <!---------------Peak Hours-------------->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="hours" class="hours" value="peak-hours" hidden>
                        <img src="peak.png" width="100%"  style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Peak Hours</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6">
                <!---------------Non-peak Hours-------------->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="hours"  class="hours" value="non-peak" hidden>
                        <img src="non-peak.png" width="100%" style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Non-Peak Hours</b>
                        </div>
                    </label>  
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------Number of Participants-------------------->
<div class="tab">
    <div class="container">
        <h3 class="w3-center">Choose Between</h3>
        <br>
        <div class="row">
            <div class="col-6 col-md-4">
                <!-----------------------Single------------>
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="participants" class="participants" value="single" hidden>
                        <img src="single.png" width="100%"  style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Single</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                <!-------------------Couple------------------>
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="participants" class="participants" value="couple" hidden>
                        <img src="couple.png" width="100%" style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Couple</b>
                        </div>
                    </label>  
                </div>
            </div>
             <div class="col-6 col-md-4">
                 <!----------------------Group--------------------->
                <div class="card mb-3">
                    <label>
                        <input type="radio" name="participants" class="participants" value="group" hidden>
                        <img src="group.png" width="100%" style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Group</b>
                        </div>
                    </label>  
                </div>
            </div>
        </div>
    </div>
</div>

    <div style="overflow:auto;">
    <div style="float:center;">
        <button class="btn btn-outline-success btn-block" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <br>
        <br>
        <button  class="btn btn-outline-info btn-block" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    </div>
</form>

 
<!-------------------Js for multistep-form------------->
    <script>       
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab

        // function for showing tab
        function showTab(n) {
            // This function will display the specified tab of the form...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            //... and fix the Previous/Next buttons:
            if (n == 0) {
                // do not display previous button if the tab_no. is 0
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
        }

        // moving fieldset forward or backward    
        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:     
            // Hide the current tab:
            x[currentTab].style.display = "none";
            if (validateForm(n) && n >=0){
                if ((currentTab == 1 && check())||(currentTab == 3 && check())){
                currentTab = currentTab + 2*n;
                }
                else currentTab = currentTab + n;   
            }  
            else if(n < 0){
                if (currentTab == 3 && check())
                    currentTab = currentTab + 2*n;
                else 
                    currentTab = currentTab + n; 
            }            
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        // if click is online then set flag == true
        function check(){
            if (document.querySelector('input[name="method"]:checked').value == 'online')
                return true;
            else
                return false;
        }

        // function for checking if the form is clicked
        function validateForm(n){
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            try {
                if (currentTab == 0 && n >=0)
                    d = document.querySelector('input[name="program"]:checked').value;
                if (currentTab == 1 && n >=0)
                    d = document.querySelector('input[name="method"]:checked').value;
                if (currentTab == 2 && n >=0)
                    d = document.querySelector('input[name="hours"]:checked').value;
                if (currentTab == 3 && n >=0)
                    d = document.querySelector('input[name="participants"]:checked').value;        
            }
            catch(e){
                alert("please select one of the option");
                return false;
            }
            return true
        }    
    </script>