<!---------NavBar-------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom1 w3-padding-large">
    <a class="navbar-brand" href="/"><img src="http://yogarogya.in/yogarogya_log.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>
<br>
<div class="container w3-white" style="width: 80%;font-family: Tenor Sans, sans-serif;">
  <div class="row">
    <div class="col-12 w3-padding-large w3-round-xlarge">
          <h3 class="w3-panel w3-padding w3-light-grey">Pay Now!</h3>
          <br>
          <form action="/book_package/donePayment" method="POST">
            <!--------------Fname---------------------->
            <div class="form-group">
                <label for="fname"><b class="w3-large">First Name</b></label>
                <input type="text" class="form-control" name="fname">
            </div>
            <!-----------------------lname------------------->
              <div class="form-group">
                <label for="lname"><b class="w3-large">Last Name</b></label>
                <input type="text" class="form-control" name="lname">
            </div>
            <!----------------Email Id------------------------->
            <div class="form-group">
                    <label for="email"><b class="w3-large">Email Id:</b></label>
                    <input type="email" class="form-control" name="email">
            </div>     
            <!--Password-->
            <div class="form-group">
                <label for="password"><b class="w3-large">Password:</b></label>
                <input type="password" class="form-control" name="password" >
            </div>
            <input type="text" name="sessions" value="{{sessions}}" hidden>
            <input type="text" name="mode" value="{{mode}}" hidden>
            <input type="text" name="participants" value="{{participants}}" hidden>
            <input type="text" name="program" value='{{program}}'hidden>
            <br>
            <br>
            <button class="site-btn sb-line-gradient">Click To Pay!</button>
          </form>        
    </div>
  </div>
</div>