<div>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large">
                 <a class="navbar-brand" href="/"><p class="w3-text-black w3-xlarge pr-3 pt-2" style="font-family: 'Noto Sans JP', sans-serif;">YOGAROGYA</p></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/"><i class="fa fa-home"></i>Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="#">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="#">Blog</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/login">Login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/register">Register</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>  
<br>
<br>
<h1 class="w3-center">Terms & Conditons</h1>
<br>
<div class="container w3-border w3-border-dark-gray">
  <pre>
      INSTRUCTOR SERVICE AGREEMENT
This service agreement (“Agreement”) is executed at Delhi.
by and between: “INSTRUCTOR” (which expression shall unless repugnant to the context or meaning
thereof be deemed to mean and include its successor-in-interest, and permitted assigns).
AND
AAROGYA PRAKRITI, a company incorporated under the provisions of the Companies Act, 1956, having
its corporate office at WZ - 61, Todapur, New Delhi - 110012, represented by its authorized signatory
Dharmender/ V V Krishna, hereinafter referred to as the “Company”/ “AP” (which expression shall unless
repugnant to the context or meaning thereof be deemed to mean and include its successor-in-interest,
and permitted assigns).
The Company and the TRAINER/ HEALER shall be collectively referred to as the “Parties” and
individually as a “Party”.
RECITALS:
1. The Company is engaged in the business of providing an online marketplace for connecting potential
customers with indigenous INSTRUCTOR as well as leading specialists, having substantial market
expertise, on a common platform.
2. The INSTRUCTOR is engaged in the business of providing YOGA related services including but not
limited to YOGA.
3. The TRAINER/ HEALER is desirous of availing certain services, details of which are set out in
Annexure I (“Services”), from the Company and the Company is willing to render such Services to the
INSTRUCTOR.
4. This Agreement sets out the understanding and agreement between the Parties hereto and their rights
and obligations in relation to the aforementioned rendering of the Services and other matters in
connection therewith.
NOW THEREFORE, IN CONSIDERATION OF THE MUTUAL REPRESENTATIONS, COVENANTS,
ASSURANCES, PROMISES AND AGREEMENTS CONTAINED HEREIN AND OTHER GOOD AND
VALUABLE CONSIDERATION, THE SUFFICIENCY OF WHICH IS ACKNOWLEDGED BY THE
PARTIES, THE PARTIES AGREE AS FOLLOWS TERMS AND CONDITIONS
TENURE - This Agreement shall be valid for period of 2 years from the effective date would be your date
of registration in the portal. The validity would get renewed unless there is a remark by the Company
representatives.
SCOPE OF SERVICES
• AP shall provide such Services to the INSTRUCTOR as more particularly described in Annexure
I.
• It is expressly noted the term INSTRUCTOR is an industry usage; however, it is expressly
understood between the Parties that the INSTRUCTOR shall not, under any circumstances, be
treated as an ‘agent’ of AP or vice-versa, in terms of the any applicable law or otherwise.
• In pursuance to rendering Services, AP may provide the INSTRUCTOR one or more unique ‘User
ID’ and ‘Password’ for, providing access to and undertaking transactions, on portal/website of
Company i.e. www.yogarogya.in (“Portal”).
SUBSCRIPTION AMOUNT: The INSTRUCTOR shall, within 5/7 (Five / Seven) working days from the
date of execution of this Agreement, deposit a sum of Rs. 1000/- (“Subscription Amount”), in the bank
account of AP by the payment mechanism which shall either by RTGS/ NEFT/ WALLET/ PAYMENT 
GATEWAY or in such manner as AP may deem fit, the details of which will be provided separately by AP
to the INSTRUCTOR. And this amount shall be non-refundable.
PAYMENT TERMS: For all the orders or bookings placed on the Portal, payments shall be collected by
AP. Save and except as specially provided in this Agreement, the INSTRUCTOR will not request for or
accept the payment of booking amount from the lead directly unless AP gives approval in writing. And
after approvals in case if INSTRUCTOR, accepts payments in CASH, the same must be transferred to
AP’s account in full amount immediately within 24 hours. In case of breach of such condition, AP will take
any legal action deemed appropriate including termination of contract with the INSTRUCTOR.
COMMISSION STRUCTURE: AP shall charge commission from the INSTRUCTOR in lieu of the Services
provided by AP. In consideration of the AP’s Services, and for the rights granted to INSTRUCTOR herein,
the INSTRUCTOR agrees to pay AP the commission which are subject to change and are as detailed in
Annexure IV.
INVOICES AND TAX LIABILITY: In relation to the bookings made on the Portal, the INSTRUCTOR shall
raise an invoice directly in the name of the CUSTOMER for the total amount (including AP’s commission
in terms of Clause 5 above) to be paid by the CUSTOMER. In relation to such invoices, the
INSTRUCTOR will be responsible for charging, collecting and paying the GST and any other applicable
taxes and AP will, under no circumstances, be responsible for the same. In relation to the Services
rendered by AP, AP shall raise an invoice on or before [10th] of every month, directly in the name of the
INSTRUCTOR, for the commission charged by AP, in terms of Clause 5 above, on all the bookings done
in the preceding month including the GST or on the cancellation charges. Any tax liability on account of
the commission due to be paid by the INSTRUCTOR to AP shall be responsibility of the INSTRUCTOR
itself and AP shall not, under any circumstance, be liable for the same. Before raising GST invoices,
INSTRUCTOR shall coordinate with AP with respect to address and GSTIN on which such invoices have
to be raised by AP. The INSTRUCTOR would be responsible for providing correct and timely information
for enabling AP to undertake appropriate GST compliances which would in turn enable INSTRUCTOR to
take input tax credit of supplies made by AP. AP shall not be responsible for any loss of input tax credit or
delay in availing of input tax credit to the INSTRUCTOR on account of incorrect information provided by
the INSTRUCTOR or due to any act or omission by the INSTRUCTOR.
• AP shall comply with all the necessary compliances including but not limited to providing GST
invoices or other documentation as per GST law relating to the above supply, payment of taxes,
timely filing of valid statutory returns for the tax period and on the Goods and Service Tax portal
etc.
• Any dispute regarding input tax credit or any other matter pertaining to taxes shall be
communicated to AP within 30 (thirty) days from the date of issuance of the invoice.
CANCELLATION POLICY
AP shall share its cancellation policy, in writing, with the CUSTOMER at the time of issuing a training
module or the invoice, whichever is earlier, in favour of the CUSTOMER, in relation to the booking made
on the portal. When the CUSTOMER has transferred the amount to AP, for the training module and
subsequently cancels his/ her training module, (i) AP will, deduct the cancellation fees being {Rs. 1000/-
to Rs. 5000/-] (ii) INSTRUCTOR would deduct 25%, and transfer the remaining amount into the bank
account of the CUSTOMER. It is hereby agreed that, the cancellation policy would be clearly mentioned
in the invoice generated by AP on behalf of the Trainer. On Cancellation, AP shall refund the commission
amount to the INSTRUCTOR. Further, AP shall be responsible to issue the credit note to the
INSTRUCTOR once the refund of the commission amount is successfully processed. Any Cancellation or
refusing to cater the training modules by the INSTRUCTOR after giving the confirmation to the
CUSTOMER, AP can penalize such INSTRUCTOR (s) a sum of Training Module or a cost of sub-module
which will be borne by AP. AP shall not liable to pay any cancellation charges to the INSTRUCTOR, in
such instances.
INSTRUCTOR OBLIGATIONS
The INSTRUCTOR shall communicate or share any information with the CUSTOMER only via the Portal
or through the designated representative from AP. In the event the INSTRUCTOR communicates or
shares any information with the CUSTOMER by any means other than the Portal/ through the designated
representative of AP, the INSTRUCTOR shall immediately inform AP of the same by updating such
information on the Portal/ email, failing which, the INSTRUCTOR shall be in material breach of this
Agreement and AP shall have the right to immediately terminate this Agreement along with forfeiture of
the Subscription Amount. The INSTRUCTOR shall ensure that the information uploaded by it on the
Portal is updated from time to time and is all times free of any errors or inaccuracies. The INSTRUCTOR
shall at all times ensure proper performance of the services rendered by it to the CUSTOMER and also
ensure that he/ she does not depute any other INSTRUCTOR in his place for rendering the services to
the CUSTOMER and if the aforesaid personnel are deficient, negligent or in breach of conditions,
provided by AP, from time to time, while rendering the services to the CUSTOMER, the INSTRUCTOR
shall immediately take corrective steps, at its own costs and expenses, to avoid recurrence of such
incidents and report in writing to AP its action plan in this regard. The assets of AP should not be misused
but employed for the purpose of conducting the business for which the INSTRUCTOR is duly authorized.
The INSTRUCTOR shall ensure the correctness and genuineness of all information and data provided by
it to the CUSTOMER. The INSTRUCTOR shall provide such information and documents set out in
Annexure III to AP within 5(five) days from the execution of the Agreement. All calls coming to the
INSTRUCTOR regarding the training module/ leads as suggested by the AP shall be handled with
enthusiasm so that it translates into a good customer experience. Also, the CUSTOMER (s) shall be
guided as per their requirements and the INSTRUCTOR shall suggest the best fit/solution to them.
Furthermore, in the event the INSTRUCTOR is found to be sharing such leads given by AP to them with
an outside person or an industry, the INSTRUCTOR will be penalized with a sum of Rs. 15,000/- (Rupees
fifteen thousand only) and if more than 1 such instances arise, INSTRUCTOR, if any, shall be blacklisted
by AP. The INSTRUCTOR should reach out to all the CUSTOMER (s) shared by AP as per the time
schedule. The non-fulfilment of this service amounts to the deficiency in service; in such circumstances,
AP shall have a right to terminate this Agreement or refer the CUSTOMER/ LEAD (s) to any different
INSTRUCTOR. All complaints/ difficulties made or faced by the CUSTOMER shall be taken very seriously
by the INSTRUCTOR and the its personnel shall liaise with the competent authorities of AP to resolve it
within the given turnaround time of 24 hours. Failing which, AP shall have a right to terminate this
Agreement. Being a marketplace, AP holds no responsibility whatsoever if a CUSTOMER faces any
difficulty with regard to its TRAINING or otherwise and the INSTRUCTOR shall solely be held liable for
the same. In case the CUSTOMER/ LEAD (s) who has already been referred by AP in the past, enters
into an agreement with the same INSTRUCTOR in future, then the CUSTOMER shall be deemed to be
the one referred by AP. The INSTRUCTOR shall intimate AP about any transaction that takes place
between the INSTRUCTOR and such CUSTOMER/ LEAD (s). AP shall be entitled to receive commission/
fee in relation to the revenue earned by the INSTRUCTOR from such CUSTOMER/ LEAD (S).
Notwithstanding anything contrary, AP shall have the right to penalise the INSTRUCTOR upto the value of
the training module / 20,000/- or 5 times of commission amount whichever is higher and reserves the right
to stop all business permanently with the INSTRUCTOR and block all its payments. In the event a
TRAINING MODULE is cancelled by the CUSTOMER/ LEAD for the reason whatsoever, and
subsequently if AP has made a refund to the CUSTOMER/ LEAD of that TRAINING MODULE then AP
reserves the right to recover the refunded amount from the INSTRUCTOR. The INSTRUCTOR shall
provide its services to the CUSTOMER/ LEAD in accordance with the industry best practices and for the
benefit of the Company, its affiliates and the LEADS referred by it. The INSTRUCTOR will observe and
conform to all standards of business and shall not act, and shall refrain from acting, in any manner that
could harm or tarnish the name, reputation, standing or goodwill of the Company. If, anytime, the
INSTRUCTOR is found guilty of maligning AP in the similar community without approaching AP to discuss
the issue, then AP will be eligible to take a legal stance against the INSTRUCTOR. The INSTRUCTOR
shall not incur any debt, loan or indebtedness in the name of the Company, nor use or imply any authority
to use the credit of the Company. The INSTRUCTOR shall bring to the notice of the Company any expiry,
modification, or suspension of any such approvals/ licenses and the initiation of any adverse action by the
relevant authority concerned in relation thereto and which may interfere or have an adverse impact on the
performance of its obligations under this Agreement.
INTELLECTUAL PROPERTY: Except as specifically provided in this Agreement, the INSTRUCTOR shall
not acquire a right to use and shall not use without AP’s prior written permission in each instance, the
names, characters, artwork, designs, trade names, trademarks, service marks or advertisement material
etc. (“Intellectual Property”) of AP in advertising, publicity, public announcement, press release or
promotion or in any manner and shall maintain proprietary notice of the Intellectual Property of AP and
also comply with such AP’s reasonable quality control requirements. The INSTRUCTOR accepts for all
purposes that any Intellectual Property affixed or used by AP, whether registered or not, constitute the
exclusive property of AP and cannot be used except in connection with the Services and without the prior
written consent of AP. The INSTRUCTOR shall not contest, at any time, the right of AP to any Intellectual
Property used or claimed by AP. The INSTRUCTOR agrees that it shall, at all times, recognize the validity
and ownership of the Intellectual Property of AP and shall not at any time dispute the validity or ownership
of the same. The INSTRUCTOR further agrees not to use the Intellectual Property of AP as part of its
corporate or partnership name or otherwise. The use of Intellectual Property of AP by the INSTRUCTOR
where expressly permitted in writing by AP, shall be in accordance with the guidelines issued by AP, from
time to time. AP reserves the right of prior review and approval of the use of Intellectual Property of AP by
the INSTRUCTOR. The INSTRUCTOR shall not publish nor cause to be published any advertisement or
make any representations oral or written, which might confuse, mislead or deceive the public or which are
detrimental to the Intellectual Property, goodwill or reputation of AP. The Parties agree that this provision
will survive termination of this Agreement.
The INSTRUCTOR authorize AP to use the photograph, videos of INSTRUCTOR showcasing the training
module, posture, pose, personal detail like date of birth, qualification and number of year or experience in
the field of Instruction / training to be published or used on AP’s website for promotional activities with
prior consent of the INSTRCUTOR and the said consent shall not be unreasonably withheld by the
INSTRUCTOR.
LIMITATION OF LIABILITY
The INSTRUCTOR acknowledges that AP is a booking intermediary and hence, is not responsible for
lapse of services, attributable to the INSTRUCTOR or otherwise caused by factors which are not under
the control of AP. AP's liability in respect of a customer claim arising from any of Services, shall be limited
to refunding the commission received by AP, in terms of Clause 5 above, in respect thereof after
deducting charges, as applicable, in terms of the Agreement. AP’s commission will not be refunded in
case of non-delivery of services by INSTRUCTOR. AP shall not be liable for any customer claims arising
due to negligence, willful misconduct or breach of any terms of this Agreement or any statutory or
regulatory violations of the INSTRUCTOR. In the event of any claims arising as aforesaid, INSTRUCTOR
shall defend such claims at their own cost and expense. If INSTRUCTOR is not impleaded as a party to
any claim or litigation by any third person, and instead AP is wrongfully made a party, INSTRUCTOR
agrees to indemnify and hold AP harmless from and against all claims. AP reserves the right to move
appropriate application before any tribunal or court as the case may be to implead the INSTRUCTOR as
necessary party. Except with regard to the payments as detailed under Clause 5, AP shall not become or
be responsible for any other liability on any account. Under no circumstances, whether based on contract,
warranty, negligence, strict liability, or otherwise shall AP or its affiliates be liable for any special,
consequential, indirect, remote, incidental or punitive damages of any kind or character, including loss of
profits or revenues, loss of product, loss of use, cost of capital and the like, arising out of or related to any
performance under or breach of this Agreement. The Parties specifically acknowledge that the pricing
provisions of this Agreement reflect such allocation of risk and limitation of liabilities.
LEGAL RESPONSIBILITY
In the performance of its obligations under this Agreement, the INSTRUCTOR shall be responsible for
determining that (i) all materials developed, approved, used or communicated by the INSTRUCTOR shall
comply with all applicable laws, (ii) such materials contain no matter that is libelous or slanderous or
which invades any right of privacy or which breaches any contractual right of a third party, including
confidentiality or which infringes any intellectual property right of a third party; and (iii) work utilized is 
original and obtained in conformity with the provisions of this Agreement. The INSTRUCTOR shall not
indulge in any activity that would be misleading, false, defamatory, unlawful or otherwise prejudicial to the
interest of AP. It is further agreed by the INSTRUCTOR that all the communication addressed for and
behalf of AP shall be first approved by AP in writing.
INDEMNITY
The INSTRUCTOR shall defend, protect, indemnify and hold harmless, AP and its affiliates and each of
their respective officers, directors and employees, upon demand at any time and from time to time,
against all Losses (defined below) suffered or incurred by AP relating to or arising out of or in connection
with any act or omission of the INSTRUCTOR in relation to its obligations under this Agreement, directly
or indirectly based upon, resulting from, or arising out of, or in relation to or otherwise in respect of:
i. any failure by the INSTRUCTOR or its personnel to perform or otherwise fulfil any covenant,
undertaking or other agreement or obligation contained in this Agreement;
ii. ii. any breach of this Agreement by the INSTRUCTOR
iii. iii. any acts, omissions, errors, representations, misrepresentations, misconduct, negligence of
the INSTRUCTOR in performance of its obligations under this Agreement;
iv. iv. any liability arising out of non-compliance of any INSTRUCTOR Guidelines or other internal
policies of the Company;
v. v. any liability due to any non-compliance of any applicable law by the INSTRUCTOR during the
term;
vi. vi. any inaccuracy in, or any breach of, any representation and warranty of the INSTRUCTOR; vii.
negligence or fraud by the INSTRUCTOR;
vii. viii. any liability arising from any third person claims resulting from any damage caused by the
INSTRUCTOR during the course of this Agreement; or
viii. ix. any losses, costs and/or expenses caused to the Company by the INSTRUCTOR;
ix. x. any losses, costs and/or expenses caused to the CUSTOMER by the bookings, omissions,
acts done by the INSTRUCTOR or persons so engaged by the INSTRUCTOR;
x. xi. any loss, misappropriations, misuse, infringement or damage to the Confidential Information
(defined in Clause 21 below) which are in the possession of the INSTRUCTOR or its personnel or
any other persons engaged by the INSTRUCTOR or within the control of the INSTRUCTOR;
xi. xii. any infringement of the Intellectual Property (defined in Clause 9 below) by the INSTRUCTOR
under its control.
xii. xiii. fines, penalties, or punitive damages resulting from supervisory actions against the
INSTRUCTOR and caused by the INSTRUCTOR, as well as private settlements due to
omissions and commissions of the INSTRUCTOR;
xiii. xiv. any liability arising from a claim from a CUSTOMER, resulting from a deficiency in any
Services provided by the INSTRUCTOR; and
xiv. xv. any third person infringement action initiated against the Company as a consequence of using
the INSTRUCTOR intellectual property as provided to the Company under this Agreement. The
term ‘Loss’ shall mean any and all actual losses, costs, actions, suits, judgments, awards,
penalties and damages (whether direct, absolute, accrued, conditional or otherwise and whether
or not resulting from third party claims), including interests and penalties with respect thereto and
out-of-pocket expenses, including reasonable attorneys’ and accountants’ fees and
disbursements, but excluding indirect, remote, consequential or exemplary losses or loss of
profits. The indemnification rights of AP are independent of, and in addition to, such other rights
and remedies as AP may have under the applicable law or in equity or otherwise, including the
right to seek specific performance, or other injunctive relief, none of which rights or remedies shall 
be affected or diminished thereby. Any compensation or indemnity as referred above shall be
such as to place the Company in the same position as it would have been in, had there not been
any failure to perform or liability, or breach of any representation and warranty. The
INSTRUCTOR agrees that notwithstanding anything herein contained, the Company shall not be
involved in the day-to-day operations of the INSTRUCTOR, and further indemnifies the Company
against any claims, losses, demands for compensation or any other damages which the
Company may suffer, on account of any acts or omissions with respect to or arising from the
operation of the INSTRUCTOR. The indemnification obligations hereunder shall survive
termination or expiration of this Agreement.
INSTRUCTOR’s INFORMATION
AP shall have the right to retain and use the information of the INSTRUCTOR including
INSTRUCTOR’s profile, reviews from the CUSTOMER/ LEAD, images and logo or any other
intellectual property of the INSTRUCTOR etc. during and even after the tenure of the
Agreement. In case of any breach of the Agreement by the INSTRUCTOR, AP shall also have
the right to provide information regarding the same on the Portal. The INSTRUCTOR shall not
object to AP retaining such information or disclosing the reasons on the Portal for the
INSTRUCTOR being removed from the system.
RELATIONSHIP BETWEEN PARTIES
This Agreement is being entered into on a principal to principal basis and the INSTRUCTOR
hereby acknowledges and agrees that it is at all times acting as an independent entity and not
an agent and/or employee and/or partner of AP. Each of the Parties shall be an independent
contractor and shall not bind the other Party by its acts, deeds and/or omissions, other than to
the extent set out in the Agreement. AP being a marketplace is not liable to extend any of the
legal employee benefits to INSTRUCTOR(s). This includes the cases where a mishap may
happen at the time of working on a lead procured through AP platform/ Portal.
TERMINATION
The Agreement can be terminated by either Party by serving to the other Party a prior written
notice of 1 (one) month. Notwithstanding anything stated herein, AP shall have the sole right to
terminate this Agreement forthwith in case of happening or occurrence of events including the
following:
i. breach of any of the terms or conditions of this Agreement, obligations as stipulated under Clause
8 or non-performance by the INSTRUCTOR, on the commission, the guidelines or internal
policies of the Company and such breach or non-performance is not cured within fifteen (15) days
of written notice by AP to the INSTRUCTOR; provided that during the cure period, AP at its sole
discretion, may suspend giving potential leads to the INSTRUCTOR;
ii. ii. prosecution for any criminal offence of INSTRUCTOR;
iii. iii. false claims towards booking amount, commissions, refunds, credits, service claims, false
financial information reports or any other data, made by the INSTRUCTOR;
iv. iv. if the appointment or continuance of the INSTRUCTOR under this Agreement is likely to result,
at the sole decision of AP, in loss of goodwill or reputation of AP;
v. v. if INSTRUCTOR commits any misconduct, fraud, cheating, misappropriation or any act lacking
in good faith;
vi. vi. if the INSTRUCTOR is declared bankrupt or a winding up petition is filed against it or
insolvency proceedings are initiated against it.
EFFECT OF TERMINATION
Upon termination of this Agreement,
i. the Parties shall settle any outstanding payments due to the other Party in terms of the
Agreement and the termination of this Agreement in any of the circumstances aforesaid shall not
in any way affect or prejudice any right accrued to any Party against the others prior to such
termination;
ii. ii. AP shall immediately discontinue providing the Services contemplated hereunder.
Notwithstanding the termination, the INSTRUCTOR shall ensure, it shall honour any and all
bookings made vide AP’s Portal prior to effective date of termination or expiry of this Agreement
and subsisting beyond such date of termination or expiry;
iii. iii. the INSTRUCTOR shall immediately discontinue using any Intellectual Property of AP and
shall not associate itself with AP or make representations in this regard, for providing any services
to a third party; and
iv. iv. the INSTRUCTOR shall return to AP all the property which belongs to AP including any
Confidential Information or any other data, information, plans, brochures etc. or any Intellectual
Property previously shared by AP with the INSTRUCTOR or developed by the INSTRUCTOR,
upon AP’s instructions. The INSTRUCTOR shall have no lien over the property of AP including its
Intellectual Property.
ASSIGNMENT
The INSTRUCTOR shall not assign, sub-contract, pledge or transfer its rights or liabilities, or
part thereof, under this Agreement, without the prior written consent of AP. Any attempted
assignment in violation hereof shall be null and void.
WAIVER
The failure of AP at any time to require performance by the INSTRUCTOR of any provision
hereof shall in no way affect the right of AP herein to enforce the same nor shall any waiver by
AP or any breach of any provision hereof be taken or held to be a waiver of any succeeding
breach of such provision or as a waiver of this provision itself.
SEVERABILITY
The Parties agree that the terms, provisions and covenants contained in this Agreement shall be
enforceable, to the fullest extent, permitted by law. However, if any term, provision or covenant
or the application thereof under this Agreement shall to any extent be construed to be invalid or
unenforceable in whole or in part, then such term, provision or covenant shall be construed in a
manner as to permit its enforceability under the applicable law to the fullest extent permitted. In
any case, the remaining provisions of this Agreement or the application thereof to any person or
circumstances other than those to which they have been held invalid or unenforceable shall
remain in full force and effect.
FORCE MAJEURE
Where any Force Majeure (as defined below) event renders impossible or hinders or delays the
performance of any obligation or the exercise of any right under this Agreement, then the failure
or omission of the Company to perform such obligations shall not be treated as a failure or
omission to comply with this Agreement. Force Majeure shall be defined as events occurring
outside the reasonable control of Company, including but not limited to, acts of God or forces of
nature, volcanic activity, landslide, lightning, earthquake, flood, fire, explosion, major storm
(hurricane, typhoon, monsoon, cyclone, etc.) or major storm warning, act of war (declared or
undeclared) or public enemy, strike (excluding strikes, lockouts or other industrial disputes or
action solely among employees of the Company), act or omission of sovereign states or those
purporting to represent sovereign states, blockade, embargo, quarantine, public disorder,
sabotage, accident or similar events beyond the control of any of the Parties. If the performance
of the obligations under this Agreement is suspended due to the occurrence of a Force Majeure 
Event for a period in excess of thirty (30) business days, the Company may terminate this
Agreement without incurring any charges.
CONFIDENTIALITY
i. The INSTRUCTOR shall hold in confidence and refrain from divulging and cause its employees,
agents, subcontractors and representatives to hold in confidence and refrain from disclosing any
Confidential Information, which the INSTRUCTOR may acquire during the course of the
Agreement. The term “Confidential Information" means all business, financial or Intellectual
Property and related information about Company including quotes, itineraries, business
proposals, net rates, discounts, future plans, etc. or any information relating to employees,
agents, representative, affiliates of the Company, which comes to be known to the INSTRUCTOR
during the term of this Agreement.
ii. AP shall have the right to blacklist such INSTRUCTOR if it is found that there has been a material
breach from the INSTRUCTOR and they have defaulted and share such Confidential Information
or data with the industry without taking prior written approval from AP. Similarly, AP shall have the
right to blacklist such INSTRUCTOR associated with it.
iii. In the event the INSTRUCTOR is obliged to disclose such Confidential Information to any
government or regulatory authority under the prevailing law, rules or regulations, the
INSTRUCTOR shall immediately notify, in writing, to the Company about such disclosure.
iv. Any information will cease to be Confidential Information if such information becomes public by
any source other than the Parties.
v. Notwithstanding the provisions of this Agreement, the Company may require the INSTRUCTOR
to execute a separate confidentiality agreement and the INSTRUCTOR agrees to comply with the
obligations set forth in the aforementioned agreement. Should a conflict arise between this
Agreement and the separate confidentiality agreement, the confidentiality agreement shall
prevail.
vi. The Parties agree that this provision will survive termination of this Agreement. NOTICES Each
notice, demand or other communication given or made under this Agreement shall be in writing
and delivered or sent to the relevant Party at its address and/or email set out below. Any notice,
demand or other communication so addressed to the relevant Party shall unless the contrary is
proved be deemed to have been delivered
(a) if delivered in person or by courier when proof of delivery is obtained by the delivering
Party provided the same has been acknowledged as received by the recipient(s);
(b) if sent by post, on the fifth day following posting provided the same has been
acknowledged as received by the recipient(s);
(c) if sent by email, at the time of confirmation of transmission by the sender’s email
provided the same has been acknowledged as received by the recipient(s). The initial
address, facsimile and email for the Parties for the purposes of this Agreement are: AP
Kind Attention- Dharmendra Yadav Address Email - INSTRUCTOR Kind Attention Address
Email - Each Party agrees to provide the other Party at least 7 (seven) days prior written
notice for any modification or change of its address particulars with the understanding that
if such notice is not provided all the notices sent to the prior given address particulars shall
be deemed received by the Party that has changed its address particulars without giving
such required notice.
DISPUTE RESOLUTION: In case of differences arising between the Parties pursuant to this Agreement,
the Parties agree to find an amicable and mutually acceptable solution. Should the Parties fail to do so, all 
disputes arising in connection with this Agreement shall be referred to arbitration in accordance with the
provisions of Arbitration and Conciliation Act 1996, as amended from time to time (“Act”). The arbitration
shall be conducted by a sole arbitrator appointed jointly by the Parties in accordance with the provisions
of the Act and the venue shall be at New Delhi, India and the language shall be in English. The award
granted by the sole arbitrator shall be binding on the Parties. In the event of a dispute or difference, this
Agreement and the rights and obligations of the Parties hereunder shall remain in full force and effect
pending resolution of such dispute or difference by arbitration pursuant to the provisions of this
Agreement.
JURISDICTION
This Agreement shall be governed by and construed in accordance with the laws of India. Subject to
Clause 23 of this Agreement (Arbitration), the courts situated in New Delhi, India shall have sole and
exclusive jurisdiction over any dispute arising under, related to or in connection with this Agreement.
ENTIRE AGREEMENT
This Agreement contains the entire Agreement between the Parties with respect to the subject matter
hereof and there are no further or other promises, representations, warranties or agreements or
understandings whether written or oral except as contained herein. This Agreement cannot be modified in
any way except in writing signed by the Parties.
COUNTERPARTS
This Agreement may be executed simultaneously in any number of counterparts, each of which shall be
deemed an original but all of which together shall constitute one and the same instrument.
IN WITNESS WHEREOF the Parties hereto have executed this Agreement on the day and year first
above written.
FOR AAROGYA PRAKRITI
Authorised Signatory
Name: DHARMENDER/ V V KRISHNA
Designation: PARTNER
ANNEXURE I
SCOPE OF SERVICES •
Providing genuine verified leads for Yoga & Meditation Based Healing Services for which the
INSTRUCTOR has been boarded on to the Portal for;
• In Person Training Activities
• Online Training Activities
• Group Training Activities (2 or more participants)
• Indoor Training Activities
• Outdoor Training Activities
• Corporate Wellness Training Activities
• Yoga Retreat Activities Training Activities
• The leads given by AP to the INSTRUCTOR shall be increased or decreased as per the
INSTRUCTOR’s performance.
• Providing dedicated continued support to the INSTRUCTOR vis-a-vis the CUSTOMER prior to
booking
• Can offer discounts on behalf of INSTRUCTOR for the services to be taken by the CUSTOMER,
post informing them, unless contrary has been decided and agreed between the Parties.
• Any other service as may be provided by AP from time to time
ANNEXURE II
PAYMENT TERMS
Once AP/ INSTRUCTOR received confirmation from the CUSTOMER in respect of a booking through the
portal, AP shall generate an Invoice in favour of the CUSTOMER, on the behalf of the INSTRUCTOR. AP
would provide a copy of any invoice raised under this clause.
AP shall insure that payment by the INSTRUCTOR is made in the following manner:
1. Full Payments - Advance Payments - Preferably, all the payments of the agreed Training
Schedule has to be paid in advance, in one instalment, as an advance payment, by the trainee on
the portal. The same will be collected by AP on behalf of the INSTRUCTOR, pursuant of the
payment mode(s) available on the portal (i.e. NEFT, Payment Gateway, Wallet etc.) as opted by
the CUSTOMER (s).
2. Deferred Payments - In case, a situation may arise that we just need to collect a booking/
promise amount to take the commitment of the CUSTOMER, the payment can be deferred to
more than one instalment at the sole discretion of AP and the same must be collected at the
Portal, pursuant to the aforementioned payment modes. But the First instalment should be
equivalent to or higher than the Cancellation charges.
3. Other Case- Upon specific request of the INSTRUCTOR or CUSTOMER, AP may, at its sole
discretion, agree that the entire payment may be paid to the INSTRUCTOR directly by the
CUSTOMER, in which case, the INSTRUCTOR shall get all the payments marked at the portal.
And also ensure that he/ she shall route the complete amount through the Portal itself by
transferring the amount in full to the Company. The schedule of sessions will start only after
receiving 100% payments from the CUSTOMER.
4. The INSTRUCTOR shall be duly intimated by AP upon initiation and receipt of the payment made
by the CUSTOMER to AP/ Vice versa.
5. AP shall transfer the amount to the INSTRUCTOR in the following manner:
1. Upon Receipt of the payment, (in one or more tranches based on full payments) from the
CUSTOMER in relation to the training session/ membership to a positive verification by
AP of the relevant reviews and feedbacks after at least 3 sessions.
2. All the INSTRUCTOR payments shall settled every week (Within 2 working days), after
successful completion of the weekly activities as per the agreed schedule.
6. The INSTRUCTOR acknowledges and confirms that AP shall have the right to adjust any loss
suffered by it on account of any action or omission by the INSTRUCTOR in relation to the
agreement, in such case AP reserves the right to make the necessary adjustments from the
Training amount towards the losses to AP or the CUSTOMER.
7. AP shall have a right to modify and alter the commission structure by giving prior notice to
INSTRUCTOR on the leads given to its partner INSTRUCTOR (s).
ANNEXURE III
DETAILS OF TRAINER/ HEALER
Account Name:  
Bank Name:  
Bank Account Number:  
IFSC Code:  
Branch:
Other Documents INSTRUCTOR to furnish copies of the self-attested (with signature and stamp)
scanned copies of following documents:
1. Passport Size Photograph
2. Yoga Certificates
3. Pan card
4. Aadhar Card
5. Driving Liscence
6. In case of own business,
1. Proprietor’s PAN card
2. Address Details
3. GST registration certificate (If available)
4. Trade license (If available)
5. Clear Copies of Certifications
6. In Case of Company
7. Certificate of Incorporation or any similar document for evidencing formation of the entity
8. Company’s PAN Card
9. Company’s GST Certificate.
10. 10.Owner’s Identification Proof (Aadhar card or Passport or Voter ID Card)
ANEXURE IV
COMMISSION STRUCTURE
The structure and amount of the commission charged will be as follows:
1. AP shall charge commission, on sessions booked on the portal.
1. Domestic Trainers to Domestic CUSTOMER (s)
1. First Conversion of a Trainee - 33% of the Total Training Value
2. Second & Other Subsequent Conversions of a Trainee - 25% of the Total
Training Value
2. Domestic Trainers to Outbound CUSTOMER (s)
1. First Conversion of a Trainee - 33% of the Total Training Value
2. Second & Other Subsequent Conversions of a Trainee - 25% of the Total
Training Value
3. International Trainers to International CUSTOMER (s)
1. First Conversion of a Trainee - 33% of the Total Training Value
2. Second & Other Subsequent Conversions of a Trainee - 25% of the Total
Training Value
2. Yoga Retreats & Wellness Packages - As per the Rate Card.
3. Corporate Wellness Packages - As per the Rate Card.
</pre>


<br>
<br>
<a class="btn btn-info btn-large" href="/users/register">Back to register</a>
</pre>
</div>
