{{>instructor_nav}}
<!-----------------Page--------------------->
<div class="w3-container w3-center">
       <p class="w3-xxlarge"><b>Testimonials</b></p>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="w3-card-4 w3-white" style="min-height: 400px;">
                <br>
                <p class="w3-center"><img src="https://yogarogya.in/avatar.png" class="w3-circle" style="height:110px;width:106px" alt="Avatar"></p>
                <br>
                <div class="w3-container">
                    <p class="w3-large ml-md-3"><b>Name:</b></p>
                    <p class="w3-large ml-md-3"><b>Rating:</b>&nbsp;
                    </p>
                    <p class="w3-large ml-md-3"><b>Review:</b>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="w3-card-4 w3-white" style="min-height: 400px;">
                <br>
                <p class="w3-center"><img src="https://yogarogya.in/avatar.png" class="w3-circle" style="height:110px;width:106px" alt="Avatar"></p>
                <br>
                <div class="w3-container">
                    <p class="w3-large ml-md-3"><b>Name:</b></p>
                    <p class="w3-large ml-md-3"><b>Rating:</b>&nbsp;
                    </p>
                     <p class="w3-large ml-md-3"><b>Review:</b>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="w3-card-4 w3-white" style="min-height: 400px;">
                <br>
                <p class="w3-center"><img src="https://yogarogya.in/avatar.png" class="w3-circle" style="height:110px;width:106px" alt="Avatar"></p>
                <br>
                <div class="w3-container">
                    <p class="w3-large ml-md-3"><b>Name:</b></p>
                    <p class="w3-large ml-md-3"><b>Rating:</b>&nbsp;
                    </p>
                    <p class="w3-large ml-md-3"><b>Review:</b>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>