<div>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large" >
          <a class="navbar-brand" href="/"><p class="w3-text-black w3-xlarge pr-3 pt-2" style="font-family: 'Noto Sans JP', sans-serif;">YOGAROGYA</p></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/dashboard"><i class="fa fa-home"></i>Dashboard<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/profile">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/testimonials">Testimonials</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/kyc">KYC</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>

<br>
<!-----------------Page--------------------->
<div class="w3-container w3-center">
       <p class="w3-xxlarge"><b>Testimonials</b></p>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="w3-card-4" style="min-height: 400px;">
                <br>
                <p class="w3-center"><img src="https://yogarogya.in/avatar.png" class="w3-circle" style="height:110px;width:106px" alt="Avatar"></p>
                <br>
                <div class="w3-container">
                    <p class="w3-large ml-md-3"><b>Name:</b></p>
                    <p class="w3-large ml-md-3"><b>Rating:</b>&nbsp;
                    </p>
                    <p class="w3-large ml-md-3"><b>Review:</b>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="w3-card-4" style="min-height: 400px;">
                <br>
                <p class="w3-center"><img src="https://yogarogya.in/avatar.png" class="w3-circle" style="height:110px;width:106px" alt="Avatar"></p>
                <br>
                <div class="w3-container">
                    <p class="w3-large ml-md-3"><b>Name:</b></p>
                    <p class="w3-large ml-md-3"><b>Rating:</b>&nbsp;
                    </p>
                     <p class="w3-large ml-md-3"><b>Review:</b>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="w3-card-4" style="min-height: 400px;">
                <br>
                <p class="w3-center"><img src="https://yogarogya.in/avatar.png" class="w3-circle" style="height:110px;width:106px" alt="Avatar"></p>
                <br>
                <div class="w3-container">
                    <p class="w3-large ml-md-3"><b>Name:</b></p>
                    <p class="w3-large ml-md-3"><b>Rating:</b>&nbsp;
                    </p>
                    <p class="w3-large ml-md-3"><b>Review:</b>&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>