<div>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large w3-round-large">
          <a class="navbar-brand" href="/"><p class="w3-text-black w3-xlarge pr-3 pt-2" style="font-family: 'Noto Sans JP', sans-serif;">YOGAROGYA</p></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/profile">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/testimonials">Testimonials</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/kyc">KYC</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3  w3-text-black" href="/users/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
<!---------------------------------Main Page-------------------------------------->
  <!-----Modal Button on top of Image------->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <img src="yoga.png">
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
      <b>Book Trial Package</b>
    </button>
      </div>
    </div>
  </div>

    <!---Everything Inside Modal----->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xlg" style="min-width:70%;height:2000px !important;">
        <div class="modal-content" style="height: 100%;">
      

    <!----------------------Carousel--------------->
    <div id="demo" class="carousel slide w3-center" data-interval="false" data-ride="carousel">
  
  <!------------------------Form---------------------------->
  <!--Form is filled with slides-------------------->
  <form action="/package/book_trial" method = "POST">
      <div class="carousel-inner">
           <!----1 Choose your method Slide------->
              <div class="carousel-item active">
                  <div class="w3-container  w3-padding-large" style="font-family: 'Montserrat', sans-serif;">
                    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray" ><b>Select Between</b></p>
                    <br>
                       <div class="w3-container  w3-left-align m-5 w3-border-bottom">  
                        <input type="radio" class="method" id="online" name="method" value="online">
                        <label class="w3-medium" for="online"><b>&nbsp;Online</b></label><br>
                    </div>
                     <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                        <input type="radio" class="method" id="person" name="method" value="person">
                        <label class="w3-medium" for="person"><b>&nbsp;In person</b></label><br>
                    </div>
                </div> 
            </div>        
             <!--2 Gender Input Slide----->
            <div class="carousel-item">
                <div class="w3-container  w3-padding-large" style="font-family: 'Montserrat', sans-serif;">
                    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>What is your gender?</b></p>
                    <br>
                    <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                        <input type="radio" id="male" class="gender" name="gender" value="male">
                        <label class="w3-medium" for="male"><b>&nbsp;Male</b></label><br>
                    </div>
                    <div class="w3-container w3-left-align m-5 w3-border-bottom w3-panel">
                        <input type="radio" id="female" class="gender" name="gender" value="female">
                        <label class="w3-medium" for="female"><b>&nbsp;Female</b></label><br>
                    </div>
                </div>
            </div>
            <!---------Program Slide------------->
            <div class="carousel-item">
                  <div class="w3-container w3-padding-small" style="font-family: 'Montserrat', sans-serif;">
                     <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your program</b></p>
                    <br>
                   <div class="card-columns">
                      <div class="card ml-5" style="width:70%;">
                            <label>
                              <input type="radio" name="program" class="program" value="small" hidden>
                              <img src="obesity.png">
                            </label>
                          <div class="w3-container w3-padding-large">
                              <b>Weight Loss Programme</b>
                          </div>
                      </div>
                      <div class="card ml-5" style="width:70%;">
                            <label>
                              <input type="radio" name="program" class="program" value="diabetes control" hidden>
                              <img src="diabetes.png">
                            </label>
                          <div class="w3-container w3-padding-large">
                              <b>Diabetes Control Programme</b>
                          </div>
                      </div>
                      <div class="card ml-5" style="width:70%;">
                            <label>
                              <input type="radio" name="program" class="program" value="immunity control" hidden>
                              <img src="immunity.png">
                            </label>
                          <div class="w3-container w3-padding-large">
                              <b>Immunity Booster Programme</b>
                          </div>
                      </div>
                   </div>
                    <div class="card-columns">
                      <div class="card ml-5" style="width:70%;">
                            <label>
                              <input type="radio" name="program" class="program" value="spine strengthening" hidden>
                              <img src="spine.png">
                            </label>
                          <div class="w3-container w3-padding-large">
                              <b>Spine Strengthening Programme</b>
                          </div>
                      </div>
                      <div class="card ml-5" style="width:70%;">
                            <label>
                              <input type="radio" name="program" class="program" value="post natal" hidden>
                              <img src="post.png">
                            </label>
                          <div class="w3-container w3-padding-large">
                              <b>Post Natal Programme</b>
                          </div>
                      </div>
                      <div class="card ml-5" style="width:70%;">
                            <label>
                              <input type="radio" name="program" class="program" value="pink" hidden>
                              <img src="pink.png">
                            </label>
                          <div class="w3-container w3-padding-large">
                              <b>Pink Programme</b>
                          </div>
                      </div>
                    </div>  
                      <div class="card-columns">
                          <div class="card ml-5" style="width:70%;">
                              <label>
                                <input type="radio" name="program" class="program" value="meditation" hidden>
                                <img src="meditation.jpg">
                              </label>
                              <div class="w3-container w3-padding-large">
                                  <b>Meditation & Relaxation Programme</b>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>      
          <!-----4 Choose your partner---------> 
            <div class="carousel-item">
              <div class="w3-container  w3-padding-large" style="font-family: 'Montserrat', sans-serif;">
                <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your partner</b></p>
                <br>
                <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                    <input type="radio" id="single" name="partner" class="partner" value="single">
                      <label for='single'><b>&nbsp;Single</b></label>
                </div>
                <div class="w3-container w3-left-align m-5 w3-border-bottom">
                     <input type="radio" id="couple" name="partner" class="partner" value="couple">
                    <label for ='couple'><b>&nbsp;Couple</b></label>
                </div>
                <div class="w3-container w3-left-align m-5 w3-border-bottom">
                    <input type="radio" id="group" name="partner" class="partner" value="group">
                    <label for ='group'><b>&nbsp;Group</b></label>  
                </div>                  
              </div>                    
          </div>
            <!----------------5 Time Slide ------------------------->
          <div class="carousel-item">
                <div class="w3-container  w3-padding-large" style="font-family: 'Montserrat', sans-serif;">
                    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>How often do you want to workout?</b></p>
                    <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                        <input type="radio" id="daily" class="time" name="time" value="daily">
                        <label class="w3-small" for="daily"><b>&nbsp;Daily</b></label><br>
                    </div>
                    <div class="w3-container w3-left-align m-5 w3-border-bottom w3-panel">
                        <input type="radio" id="three" class="time" name="time" value="three">
                        <label class="w3-small" for="three"><b>Three times a week</b></label><br>
                    </div>
                    <div class="w3-container w3-left-align m-5 w3-border-bottom w3-panel">
                        <input type="radio" id="trainer" class="time" name="time" value="trainer">
                        <label class="w3-small" for="trainer"><b>&nbsp;Ask your trainer</b></label><br>
                    </div>
                </div>
            </div>
            <!---------6 Register Slide----------- ----->
            <div class="carousel-item">
              <div class="w3-container" style="font-family: 'Montserrat', sans-serif;">
                 <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Submit your info</b></p>
                  <div class="w3-container  w3-left-align m-5">
                    <div class="form-group">
                      <label for="name"><b>Name:</b></label>
                      <input  type="name" id="name"  name="name"  class="form-control" placeholder="Enter Name"/>
                    </div>
                    <div class="form-group">
                      <label for="email"><b>Email:</b></label>
                      <input  type="email" id="email"  name="email"  class="form-control" placeholder="Enter Email"/>
                    </div>
                    <div class="form-group">
                      <label for="password"><b>Password:</b></label>
                      <input  type="password" id="password"  name="password"  class="form-control" placeholder="Enter Password"/>
                    </div>
                    <div class="form-group">
                      <label for="phone"><b>Phone:</b></label>
                      <input  type="password" id="phone"  name="phone"  class="form-control" placeholder="Enter Password"/>
                    </div>
                    <br>
                    <button class="btn btn-dark btn-block">Submit & Pay</button>
                  </div>  
              </div>
            </div> 
        </div>         
            <!---------- 8 Picking Time Slot ----------------------------> 
    </form>
  <!-- Left and right controls -->
  <a class="left carousel-control-prev" href="#demo" role='button'>
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="right carousel-control-next" href="#demo" role='button'>
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>    
</div>



<!------------Javascript for Geocoding and Google Map-------------------------->
<script>
    $(document).ready(function(){
      // Enable Carousel Controls
      // Right Side movement
      var f = 0;
      $(".gender").click(function(){
         f = 1;
      })
      $(".method").click(function(){
         f = 1;
      })
      $(".program").click(function(){
         f = 1
      })
      $(".partner").click(function(){
         f = 1;
      })
       $(".time").click(function(){
         f = 1;
      })
       $("#name").keypress(function(){
         f = 1;
      })
      $("#email").keypress(function(){
         f = 1;
      })
      $("#password").keypress(function(){
         f = 1;
      })



        $(".right").click(function(){
          if (f == 1){
          $("#demo").carousel("next");
          }
          else alert("Choose one of the option");
          f = 0;
      });

      $(".left").click(function(){
        $("#demo").carousel("prev");
        });
    })
</script>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA372PcuJQKYrKADjhHTLLDVcfsoCzF-4M&callback=initMap">
    </script>