<div>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large ">
          <a class="navbar-brand" href="/"><img src="yogarogya_log.png" width="160px;" height="114px;" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-white" href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-white" href="/users/profile">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-white" href="/users/testimonials">Testimonials</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-white" href="/users/kyc">KYC</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3  w3-text-white" href="/users/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
     {{#if error}}
        <br>
          <div class="container w3-center">
               <p class="w3-xxlarge w3-text-black"><b>Your Form Not submitted</b></p>
              <a class="w3-text-blue w3-xlarge" href="/package">Click to go back</a>
          </div>
     {{else}} 
<!---------------------------------Main Page-------------------------------------->
  <!-----Modal Button on top of Image------->
  <div class="container-fluid" style="background-color: #f7605e;">   
    <div class="row">
      <div class="col-lg-12">
         <img src="img/hero-slider/1.png">
    <button type="button" class="btn btn-primary btn-xlg" data-toggle="modal" data-target="#myModal">
      <b>Book Trial Package</b>
    </button>
      </div>
    </div>
  </div>

    <!---Everything Inside Modal----->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xlg" style="min-width:70%;height:1000px !important;">
        <div class="modal-content" style="height: 100%;">
      

    <!----------------------Carousel--------------->
    <div id="demo" class="carousel slide w3-center" data-interval="false" data-ride="carousel">
  
  <!------------------------Form---------------------------->
  <!--Form is filled with slides-------------------->
  <form action="/package/book_trial" method = "POST">
      <div class="carousel-inner">
           <!----1 Choose your method Slide------->
              <div class="carousel-item active">
                  <div class="w3-container  w3-padding-large" style="font-family: 'Montserrat', sans-serif;">
                    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray" ><b>Select Between</b></p>
                    <br>
                       <div class="w3-container  w3-left-align m-5 w3-border-bottom">  
                        <input type="radio" class="method" id="online" name="method" value="online">
                        <label class="w3-medium" for="online"><b>&nbsp;Online</b></label><br>
                    </div>
                     <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                        <input type="radio" class="method" id="person" name="method" value="person">
                        <label class="w3-medium" for="person"><b>&nbsp;In person</b></label><br>
                    </div>
                </div> 
            </div>        
             <!--2 Gender Input Slide----->
            <div class="carousel-item">
                <div class="w3-container  w3-padding-large " style="font-family: 'Montserrat', sans-serif;">
                    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>What is your gender?</b></p>
                    <br>
                    <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                        <input type="radio" id="male" class="gender" name="gender" value="male">
                        <label class="w3-medium" for="male"><b>&nbsp;Male</b></label><br>
                    </div>
                    <div class="w3-container w3-left-align m-5 w3-border-bottom w3-panel">
                        <input type="radio" id="female" class="gender" name="gender" value="female">
                        <label class="w3-medium" for="female"><b>&nbsp;Female</b></label><br>
                    </div>
                </div>
            </div>
            <!-----------------------------------Program Slide----------------------->
                <div class="carousel-item">
                     <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your program</b></p>
                    <br>
                      <div class="container">
                       <div class="row">
                          <div class="col-6 col-md-4">
                            <!-----------------------Weight Loss Card-------------------->
                            <div class="card mb-3">
                                <label>
                                  <input type="radio" name="program" class="program" value="small" hidden>
                                  <img src="obesity.png" width="100%">
                                  <div class="card-body w3-medium">
                                    <b>Weight Loss Programme</b>
                                  </div>
                                </label>  
                            </div>
                          </div>
                          <div class="col-6 col-md-4">
                            <!-----------------------Diabetes Control Card-------------------->
                              <div class="card mb-3">
                                  <label>
                                    <input type="radio" name="program" class="program" value="diabetes control" hidden>
                                          <img src="diabetes.png" width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Diabetes Control Programme</b>
                                    </div>
                                  </label>  
                              </div>
                          </div>  
                          <div class="col-6 col-md-4">
                            <!-----------------------Immuntiy Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="immunity control" hidden>
                                    <img src="immunity.png" width="100%">
                                    <div class="card-body w3-medium">
                                      <b>Immunity Booster Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>  
                          <div class="col-6 col-md-4">
                            <!-----------------------Spine Strengthen Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="spine strengthening" hidden>
                                    <img src="spine.png"  width="100%">
                                    <div class="card-body w3-medium">
                                         <b>Spine Strengthen Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>  
                           <div class="col-6 col-md-4">
                             <!-----------------------Post Natal Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="post natal" hidden>
                                    <img src="post.png"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Post Natal Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div>  
                           <div class="col-6 col-md-4">
                             <!-----------------------Pink Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="pink" hidden>
                                    <img src="pink.png"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Pink Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div> 
                          <div class="col-6 col-md-4">
                            <!-----------------------Meditation Card-------------------->
                              <div class="card mb-3">
                                <label>
                                    <input type="radio" name="program" class="program" value="relaxation meditation" hidden>
                                    <img src="meditation.jpg"  width="100%">
                                    <div class="card-body w3-medium">
                                        <b>Relaxation & Meditation Programme</b>
                                    </div>
                                </label>    
                              </div>
                          </div> 
                        </div>     
                      </div> 
                </div>              
          <!-----4 Choose your partner---------> 
            <div class="carousel-item">
              <div class="w3-container  w3-padding-large " style="font-family: 'Montserrat', sans-serif;">
                <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Choose your partner</b></p>
                <br>
                <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                    <input type="radio" id="single" name="partner" class="partner" value="single">
                      <label for='single'><b>&nbsp;Single</b></label>
                </div>
                <div class="w3-container w3-left-align m-5 w3-border-bottom">
                     <input type="radio" id="couple" name="partner" class="partner" value="couple">
                    <label for ='couple'><b>&nbsp;Couple</b></label>
                </div>
                <div class="w3-container w3-left-align m-5 w3-border-bottom">
                    <input type="radio" id="group" name="partner" class="partner" value="group">
                    <label for ='group'><b>&nbsp;Group</b></label>  
                </div>                  
              </div>                    
          </div>
            <!----------------5 Time Slide ------------------------->
          <div class="carousel-item">
                <div class="w3-container w3-padding-small" style="font-family: 'Montserrat', sans-serif;">
                    <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>How often do you want to workout?</b></p>
                    <div class="w3-container  w3-left-align m-5 w3-border-bottom">
                        <input type="radio" id="daily" class="time" name="time" value="daily">
                        <label class="w3-medium" for="daily"><b>&nbsp;Daily</b></label><br>
                    </div>
                    <div class="w3-container w3-left-align m-5 w3-border-bottom w3-panel">
                        <input type="radio" id="three" class="time" name="time" value="three">
                        <label class="w3-medium" for="three"><b>Three times a week</b></label><br>
                    </div>
                    <div class="w3-container w3-left-align m-5 w3-border-bottom w3-panel">
                        <input type="radio" id="trainer" class="time" name="time" value="trainer">
                        <label class="w3-medium" for="trainer"><b>&nbsp;Ask your trainer</b></label><br>
                    </div>
                </div>
            </div>
            <!---------------6 Pick time slot---------------------->
             <div class="carousel-item">
                <div class="w3-container w3-padding-small " style="font-family: 'Montserrat', sans-serif;">
                 <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Pick up your time slot</b></p>
                 <br>
                 <br>
                 <!----Day row--------->
                 <p>When would you like your first session?</p>
                <br>
                <div class="container w3-border w3-border-dark-gray w3-light-gray w3-padding-small w3-round-xlarge" style="width: 100%;">
                    <div class="row">
                       <div class="col-4">
                              <label>
                                <input type="radio" class="timeSlot" name="timeSlot" hidden>
                                <div class="card w3-border w3-border-black w3-padding-large">
                                  <p class="w3-small  w3-text-black">Tomorrow</p>
                                  <p class="w3-large w3-text-black" id="tommorrow"></p>
                                </div>
                              </label>
                       </div>
                          <div class="col-4 ">
                            <label>
                                <input type="radio" class="timeSlot" name="timeSlot" hidden>
                                <div class="card w3-border w3-border-black w3-padding-large">
                                    <p class="w3-small w3-text-black" id="dayAfter"></p>
                                     <p class="w3-large w3-text-black" id="dateAfter"></p>
                                </div>
                            </label>
                          </div>
                          <div class="col-4">
                            <label>
                                 <input type="radio"  class="timeSlot" name="timeSlot" hidden>
                                <div class="card w3-border w3-border-black w3-padding-large">
                                  <p class="w3-small w3-text-black" id="dayAfter1"></p>
                                  <p class="w3-large w3-text-black" id="dateAfter1"></p>
                                </div>
                            </label>
                       </div>
                    </div>
                </div>
                <br>
                <br>
                <!--Time Row ----->
                <p>Pick up your time</p>
                <div class="container w3-border w3-border-dark-gray w3-light-gray p-2 w3-round-xlarge">
              <div class="row  mr-1">
                   <div class="col-3 ">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="5 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large" >
                              5 am
                            </div>
                       </label>
                    </div>
                    <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="6 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              6 am
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="7 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              7 am
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="8 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              8 am
                            </div>
                       </label>
                    </div>
                    <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1 "name="timeSlot1" value="9 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              9 am
                            </div>
                       </label>
                    </div>
                    <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="10 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              10 am
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio"class="timeSlot1" name="timeSlot1" value="11 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              11 am
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="12 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              12 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="1 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              1 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="2 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              2 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="3 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              3 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="4 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              4 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="5 am" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              5 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="6 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              6 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="7 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              7 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="8 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              8 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="9 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              9 pm
                            </div>
                       </label>
                    </div>
                     <div class="col-3">
                       <label>
                          <input type="radio" class="timeSlot1" name="timeSlot1" value="10 pm" hidden>
                            <div class="card w3-border w3-border-black w3-padding-large">
                              10 pm
                            </div>
                       </label>
                    </div>
                  </div>
                </div>  
              </div> 
             </div>
            <!---------6 Register Slide----------- ----->
            <div class="carousel-item">
              <div class="w3-container w3-padding-small " style="font-family: 'Montserrat', sans-serif;">
                 <p class="w3-xlarge w3-text-black w3-panel w3-light-gray"><b>Submit your info</b></p>
                  <div class="w3-container w3-border w3-border-dark-gray w3-round-large w3-padding-large w3-left-align m-5">
                    <div class="form-group">
                      <label for="name" class="w3-small"><b>Name:</b></label>
                      <input  type="name" id="name"  name="name"  class="form-control" placeholder="Enter Name"/>
                    </div>
                    <div class="form-group">
                      <label for="email" class="w3-small"><b>Email:</b></label>
                      <input  type="email" id="email"  name="email"  class="form-control" placeholder="Enter Email"/>
                    </div>
                    <div class="form-group">
                      <label for="password" class="w3-small"><b>Password:</b></label>
                      <input  type="password" id="password"  name="password"  class="form-control" placeholder="Enter Password"/>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="w3-small"><b>Phone:</b></label>
                      <input  type="text" id="phone"  name="phone"  class="form-control" placeholder="Enter Phone Number"/>
                    </div>
                    <br>
                    <button class="btn btn-dark btn-block">Submit & Pay</button>
                  </div>  
              </div>
            </div>
        </div>                      
    </form>
  <!-- Right controls---> 
  <a class="right carousel-control-next" href="#demo" role='button'>
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>    
</div>
{{/if}}



<!------------Javascript for Geocoding and Google Map-------------------------->
<script>
    $(document).ready(function(){
      // Enable Carousel Controls
      // Right Side movement
      var f = 0, g = 0;
      $(".gender").click(function(){
         f = 1;
      });
      $(".method").click(function(){
         f = 1;
      })
      $(".program").click(function(){
         f = 1
      })
      $(".partner").click(function(){
         f = 1;
      })
       $(".time").click(function(){
         f = 1;
      })
       $("#name").keypress(function(){
         f = 1;
      })
      $("#email").keypress(function(){
         f = 1;
      })
      $("#password").keypress(function(){
         f = 1;
      })
      $("#phone").keypress(function(){
         f = 1;
      })
       $(".timeSlot").click(function(){
         f = 1;
      })
       $(".timeSlot1").click(function(){
         f = 1;
      })



        $(".right").click(function(){
          if (f == 1){
          $("#demo").carousel("next");
          }
          else alert("Tap one of the option to move forward");
          f = 0;
      });


      $(".left").click(function(){
        if ($("input").attr("value") == 'gender'){
            console.log("t");
            $("#demo").carousel("prev");
        }
      });
    })

    function getloc(){    
        // For Geolocation
        if ('geolocation' in navigator){
          console.log("geo");
          navigator.geolocation.getCurrentPosition(function(p){
            console.log(p.coords.latitude);
            console.log(p.coords.longitude);
          })
        }
        else{
          console.log("not geo")
        }
    }
    function DayTime(){
        var days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
        
        var date = new Date();
        console.log(date);
        document.getElementById("tommorrow").innerHTML = date.getDate();
        document.getElementById("dateAfter").innerHTML = date.getDate()+1;
        document.getElementById("dateAfter1").innerHTML = date.getDate()+2;
        document.getElementById("dayAfter").innerHTML = days[date.getDay()+1];
        document.getElementById("dayAfter1").innerHTML = days[date.getDay()+2];
        console.log(days[date.getDay()+2]);
    }
</script>
 