<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>YOGAROGYA</title>
	<meta charset="UTF-8">
	<meta name="description" content="Ahana Yoga HTML Template">
	<meta name="keywords" content="yoga, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/nice-select.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/animate.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<div class="header-top">
			<div class="row m-0">
				<div class="col-md-6 d-none d-md-block p-0">
					<div class="header-info">
						<i class="material-icons">map</i>
						<p>WZ-61, Todapur, New Delhi, (110012)</p>
					</div>
					<div class="header-info">
						<i class="material-icons">phone</i>
						<p>9871892380,&nbsp; 9891010030 </p>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<a href="/" class="site-logo">
				<img src="Untitled-1.png" alt="t" style="width: 160px; height: 50px;">
			</a>
			<div class="container">
				<ul class="main-menu">
					<li><a href="#" class="w3-text-black">Home</a></li>
					<li><a href="#" class="w3-text-black">About</a></li>
					<li><a href="#" class="w3-text-black">Blog</a>
						<ul class="sub-menu">
							<li><a href="#" class="w3-text-black">Our Blog</a></li>
							<li><a href="#"class="w3-text-black">Blog Details</a></li>
						</ul>
					</li>
					<li><a href="/users/login" class="w3-text-black">Login</a></li>
					<li><a href="/users/register" class="w3-text-black">Register</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- Header Section end -->
	                                                                              
	<!-- Hero Section -->
	<section class="hero-section">
		<div class="hero-social-warp">
			<div class="hero-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
		<div class="arrow-buttom">
			<img src="img/icons/arrows-buttom.png" alt="">
		</div>
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="hs-style-1 text-center">
					<img src="img/hero-slider/1.png" alt="">
				</div>
			</div>
			<div class="hs-item">
				<div class="hs-style-2">
					<div class="container-fluid h-100">
						<div class="row h-100">
							<div class="col-lg-6 h-100 d-none d-lg-flex align-items-xl-end align-items-lg-center">
								<div class="hs-img">
									<img src="img/hero-slider/2.png" alt="">
								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center">
								<div class="hs-text-warp">
									<div class="hs-text">
										<h2>Get slim and toned with weight loss programme</h2>
										<div class="site-btn sb-white">Register now</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="hs-style-3 text-center">
					<div class="container">
						<div class="hs-text">
							<h2>Increase your Immunity</h2>
							<div class="site-btn sb-white">Register now</div>
						</div>
					</div>
					<div class="hs-img">
						<img src="img/hero-slider/3.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section end -->

	<!-- About Section -->
	<section class="about-section spad">
		<div class="container">
			<div class="section-title text-center">
				<img src="img/icons/logo-icon.png" alt="">
				<h2>Welcome to Yogarogya</h2>
				<p>Practice Yoga to perfect physical beauty, take care of your soul,increase your immunity and enjoy life more fully!</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="about-img">
						<img src="img/about.png" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-item">
						<div class="ai-icon">
							<img src="img/icons/about-1.png" alt="">
						</div>
						<div class="ai-text">
							<h4>Weight Loss Reduction</h4>
							<p>We have programme customized to as per indiviual's health ailment & goal.</p>
						</div>
					</div>
					<div class="about-item">
						<div class="ai-icon">
							<img src="img/icons/about-2.png" alt="">
						</div>
						<div class="ai-text">
							<h4>Strengthening & Muscle Building</h4>
							<p>We will help you achieve mobility and flexibility with our well designed session</p>
						</div>
					</div>
					<div class="about-item">
						<div class="ai-icon">
							<img src="img/icons/about-3.png" alt="">
						</div>
						<div class="ai-text">
							<h4>Relaxation & Meditation</h4>
							<p >Balancing between mind & body with our best of the training programme</p>
						</div>
					</div>
					<a href="" class="site-btn sb-gradient mt-5">explore more</a>
				</div>
			</div>
		</div>
	</section>
	<!-- About Section end -->
	<!-- Classes Section -->
	<section class="classes-section spad">
		<div class="container">
			<div class="section-title text-center">
				<img src="img/icons/logo-icon.png" alt="">
				<h2>Popular Classes</h2>
				<p>Practice Yoga to perfect physical beauty, take care of your soul and enjoy life more fully!</p>
			</div>
			<div class="classes-slider owl-carousel">
				<div class="classes-item" style="height:578px;">
					<div class="ci-img">
						<img src="img/classes/1.jpg" alt="">
					</div>
					<div class="ci-text">
						<h4><a href="classes-details.html">Weight Loss</a></h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>We customized our session to meet your basic requirement & our end goal</p>
					</div>
				</div>
				<div class="classes-item" style="height:578px;">
					<div class="ci-img">
						<img src="img/classes/2.jpg" alt="">
					</div>
					<div class="ci-text">
						<h4>Strengthening & Muscle Building</h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>We understand your innate desire to attain excellence.Curate program with best in class trainer</p>
					</div>
				</div>
				<div class="classes-item" style="height:578px;">
					<div class="ci-img">
						<img src="img/classes/1.jpg" alt="">
					</div>
					<div class="ci-text">
						<h4>Relaxation & Meditation</h4>
						<div class="ci-metas">
							<div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
							<div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
						</div>
						<p>When you cannot go outside you go within.Mental health is highly important to achieve peace in life</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Classes Section end -->


	<!-- Pricing Section -->
	<section class="pricing-section spad">
		<div class="container">
			<div class="section-title text-center">
				<img src="img/icons/logo-icon.png" alt="">
				<h2>Pricing plans</h2>
				<p>Practice Yoga to perfect physical beauty, take care of your soul and enjoy life more fully!</p>
			</div>
			<div class="row">
				<!--Weight Loss---->
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item begginer">
						<div class="pi-top">
							<h4>Weight  Loss  Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs. 10,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Week: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item entermediate">
						<div class="pi-top">
							<h4>Diabetes Control Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs. 13,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Week: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item advanced">
						<div class="pi-top">
							<h4>Immunity Booster Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs. 10,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Weeks: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item professional">
						<div class="pi-top">
							<h4>Post Natal Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs. 13,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Week: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item begginer">
						<div class="pi-top">
							<h4>Back Strengthening Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs. 10,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Week: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item entermediate">
						<div class="pi-top">
							<h4>Pink Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs 13,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Week: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="pricing-item advanced">
						<div class="pi-top">
							<h4>Relaxation Programme</h4>
						</div>
						<div class="pi-price">
							<h4>Rs. 10,000</h4>
							<p>Per month</p>
						</div>
						<ul>
							<li>Sessions per Week: 5</li>
							<li>No. of Weeks: 4</li>
							<li>Total Sessions: 20</li>
						</ul>
						<a href="#" class="site-btn sb-line-gradient">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Pricing Section end -->


	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<div class="about-widget">
							<img src="Untitled-1.png" alt="t" style="width: 160px; height: 50px;">
							<p>You can contact us through:</p>
							<ul>
								<li><i class="material-icons">phone</i>9871892380, 9891010030</li>
								<li><i class="material-icons">email</i>info@yogarogya.in</li>
								<li><i class="material-icons">map</i>WZ-61 Todapur,New Delhi-110012</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget pl-0 pl-lg-5">
						<h2 class="fw-title">Company</h2>
						<ul>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-sm-6">
					<div class="footer-widget">
						<h2 class="fw-title">About Us</h2>
						<ul>
							<li><a href="#">Our Vision</a></li>
							<li><a href="#">Meet The Team</a></li>
							<li><a href="#">Introduce</a></li>
							<li><a href="#">Customer Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget pl-0 pl-lg-5">
						<h2 class="fw-title">Open time</h2>
						<ul>
							<li><i class="material-icons">alarm_on</i>Mon - Fri:  6:30am - 07:45pm</li>
							<li><i class="material-icons">alarm_on</i>Sat - Sun:  8:30am - 05:45pm</li>
						</ul>
						<form class="infor-form">
							<input type="text" placeholder="Your Email">
							<button><img src="img/icons/send.png" alt=""></button>
						</form>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section end -->

	<div class="back-to-top"><img src="img/icons/up-arrow.png" alt=""></div>

	<!-- Search model -->
	<div class="search-model set-bg" data-setbg="img/search-bg.jpg">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch"><i class="material-icons">close</i></div>
			<form class="search-moderl-form">
				<input type="text" id="search-input" placeholder="Search">
				<button><img src="img/icons/search-2.png" alt=""></button>
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>