<div class="tab">
    <div class="container">
        <h3 class="w3-center"  style="font-family: 'Tenor Sans', sans-serif;">Choose Between</h3>
        <br>
        <div class="row">
            <div class="col-md-6">
                <!--------------Online---------------->
                <div class="classes-item">
					<div class="ci-img">
                        <label>
                            <input type="radio" name="method"  class="method" value="online" hidden>
						    <img src="online.png" alt="">
                        </label>
					</div>
					<div class="ci-text">
                        <h4><a href="#" data-toggle='tooltip' data-placement="right" title="Click the image">Online</a></h4>    
					</div>
				</div>
            </div>
            <div class="col-md-6">
                <!-------------------In-person----------->
                <div class="classes-item">
					<div class="ci-img">
                        <label>
                            <input type="radio" name="method"  class="method" value="offline" hidden>
						    <img src="in_person.png" alt="">
                        </label>
					</div>
					<div class="ci-text">
                        <h4><a href="#" data-toggle='tooltip' data-placement="right" title="Click the image">In-Person</a></h4>      
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

    