<div class="tab">
    <div class="container">
        <h3 class="w3-center">Choose Between</h3>
        <br>
        <div class="row">
            <div class="col-6">
                <!--------------Online---------------->
                <div class="card mb-3 w3-border w3-border-dark-gray w3-round-large">
                    <label>
                        <input type="radio" name="method"  class="method" value="online" hidden>
                        <img src="online.png" width="100%"  style="max-height: 280px;">
                        <div class="card-body w3-medium">
                        <b class="w3-large">Online</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6">
                <!-------------------In-person----------->
                <div class="card mb-3 w3-border w3-border-dark-gray w3-round-large">
                    <label>
                        <input type="radio" name="method"  class="method" value="in-person" hidden>
                        <img src="in_person.png" width="100%" style="max-height: 260px;">
                        <div class="card-body w3-medium">
                        <b class="w3-large">In-person</b>
                        </div>
                    </label>  
                </div>
            </div>
        </div>
    </div>
</div>
