<div class="tab">
    <div class="container">
        <h3 class="w3-center">Choose Between</h3>
        <br>
        <div class="row">
            <div class="col-6 col-md-4">
                <!-----------------------Single------------>
                <div class="card mb-3 w3-border w3-border-dark-grey">
                    <label>
                        <input type="radio" name="participants" class="participants" value="single" hidden>
                        <img src="single.png" width="100%"  style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Single</b>
                        </div>
                    </label>  
                </div>
            </div>
            <div class="col-6 col-md-4">
                <!-------------------Couple------------------>
                <div class="card mb-3 w3-border w3-border-dark-grey">
                    <label>
                        <input type="radio" name="participants" class="participants" value="couple" hidden>
                        <img src="couple.png" width="100%" style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Couple</b>
                        </div>
                    </label>  
                </div>
            </div>
             <div class="col-6 col-md-4">
                 <!----------------------Group--------------------->
                <div class="card mb-3 w3-border w3-border-dark-grey">
                    <label>
                        <input type="radio" name="participants" class="participants" value="group" hidden>
                        <img src="group.png" width="100%" style="max-height: 250px;">
                        <div class="card-body w3-medium">
                        <b>Group</b>
                        </div>
                    </label>  
                </div>
            </div>
        </div>
    </div>
</div>